.header-text h2 {
  font-family: "Berkshire Swash";
  font-style: normal;
  font-size: 50px;
  color: #ff5e19;
  position: absolute;
  left: 40%;
  top: 30%;
}

.header-text p {
  font-family: "Manrope";
  font-style: normal;
  font-size: 20px;
  color: #fff;
  position: absolute;
  left: 36%;
  top: 45%;
}

#header-img {
  position: relative;
}
.mask-img {
  position: absolute;
  top: 45%;
  z-index: 1;
}
.roar-img {
  position: absolute;
  top: 38%;
}
.card-psg-img {
  position: absolute;
  left: 85%;
  top: 15%;
}
.rectangle-img {
  position: absolute;
  left: 91%;
  top: 51%;
}
.football-img {
  position: absolute;
  left: 92.5%;
  top: 77%;
}
