.header-text h2 {
  font-family: "Berkshire Swash";
  font-style: normal;
  font-size: 50px;
  color: #ff5e19;
  position: absolute;
  left: 40%;
  top: 30%;
}

.header-text p {
  font-family: "Manrope";
  font-style: normal;
  font-size: 20px;
  color: #fff;
  position: absolute;
  left: 35%;
  top: 45%;
}

#header-img {
  position: relative;
}
.mask-img {
  position: absolute;
  top: 27%;
  z-index: 1;
}
.roar-img {
  position: absolute;
  top: 20%;
}
.card-psg-img {
  position: absolute;
  left: 80%;
  top: 10%;
}
.rectangle-img {
  position: absolute;
  left: 88%;
  top: 34%;
}
.football-img {
  position: absolute;
  left: 90%;
  top: 70%;
}
